<div ng-if='gauge == 10'>
 <%= link_to('Wired Home SKRL-10-100 10 AWG OFC Speaker Wire 100 ft.',
 @URL_10) %></br>
 <%= link_to(image_tag("https://drive.google.com/file/d/0B12_WQvs6JUFMHkyT1VRTUhENmc/edit?usp=sharing", height: '150px;',
                       alt: '10AWG Cable'), @URL_10) %></br>
</div>
<div ng-if='gauge == 12'>
 <%= link_to('Wired Home SKRL-12-100 12 AWG OFC Speaker Wire 100 ft.',
 @URL_12) %></br>
 <%= link_to(image_tag("https://drive.google.com/file/d/0B12_WQvs6JUFMHkyT1VRTUhENmc/edit?usp=sharing", height: '150px;',
                        alt: '12AWG Cable'), @URL_12) %></br>
</div>
<div ng-if='gauge == 14'>
 <%= link_to('Wired Home SKRL-14-100 14 AWG OFC Speaker Wire 100 ft.',
 @URL_14) %></br>
 <%= link_to(image_tag("https://drive.google.com/file/d/0B12_WQvs6JUFMHkyT1VRTUhENmc/edit?usp=sharing", height: '150px;',
                        alt: '14AWG Cable'), @URL_14) %></br>
 </div>
<div ng-if='gauge == 16'>
 <%= link_to('Wired Home SKRL-16-100 16 AWG OFC Speaker Wire 100 ft.',
 @URL_16) %></br>
 <%= link_to(image_tag("https://drive.google.com/file/d/0B12_WQvs6JUFMHkyT1VRTUhENmc/edit?usp=sharing", height: '150px;',
                        alt: '15AWG Cable'), @URL_16) %></br>
</div>
<div ng-if='gauge == 18'>
 <%= link_to('RCA AH18100SR 18 AWG Speaker Wire 100 ft.',
 @URL_18) %></br>
 <%= link_to(image_tag("https://drive.google.com/file/d/0B12_WQvs6JUFNW9vb1prY1RqN2s/edit?usp=sharing", height: '150px;',
                        alt: '18AWG Cable'), @URL_18) %></br>
</div>
